version: "3"
services:
  wiki:
    network_mode: bridge
    container_name: wiki
    build:
      context: .
    image: si9ma/tiddlywiki:1.0
    command: <username> <passwd> https://github.com/si9ma/Wiki.git <git_email> <git_name>
    volumes:
     - data:/var/www/html
    environment:
     - VIRTUAL_HOST=subdomain.yourdomain.tld
     - LETSENCRYPT_HOST=subdomain.yourdomain.tld
     - LETSENCRYPT_EMAIL=mail@yourdomain.tld

volumes:
    data:
